:root {
    --bs-blue: #072e4c !important;
    --bs-indigo: #6610f2 !important;
    --bs-purple: #6f42c1 !important;
    --bs-pink: #d63384 !important;
    --bs-red: #dc3545 !important;
    --bs-orange: #fd7e14 !important;
    --bs-yellow: #ffc107 !important;
    --bs-green: #198754 !important;
    --bs-teal: #20c997 !important;
    --bs-cyan: #0dcaf0 !important;
    --bs-white: #fff !important;
    --bs-gray: #6c757d !important;
    --bs-gray-dark: #343a40 !important;
    --bs-primary: #072e4c !important;
    --bs-secondary: #6c757d !important;
    --bs-success: #198754 !important;
    --bs-info: #0dcaf0 !important;
    --bs-warning: #ffc107 !important;
    --bs-danger: #dc3545 !important;
    --bs-light: #f8f9fa !important;
    --bs-dark: #212529 !important;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

p {
    text-align: justify;
}

.deanfa-primary-color {
    color: var(--bs-primary);
}

body {
    font-size: 1.1rem;
    padding: 0px !important;
}

@mixin section-heading($color, $align, $size, $mb) {
    color: $color;
    font-size: $size;
    text-align: $align;
    margin-bottom: $mb;
}

@mixin deanfa-btn($color, $bgColor, $borderColor, $fsize) {
    background-color: $bgColor;
    color: $color;
    border-color: $borderColor;
    font-size: $fsize;
    border-radius: 4px;
    border: 2px solid;
    padding: 10px 30px;
}



header {
    background-color: #005494;

    h1 {
        font-size: 1.5rem;
        color: rgb(0, 0, 0);
        font-weight: 500;
        margin: 0px;

        a {

            text-decoration: none;
            color: rgb(0, 0, 0);
        }
    }

    .region-top-header {
        flex-wrap: nowrap;
        align-items: center;

        .navbar-brand {
            width: 65px;
            padding: 0px;
        }
    }

    .navbar-expand-md {
        background-color: #ececec !important;
        padding: 0px;

        .navbar-brand {
            img {
                height: 70px;
            }
        }

        .menu--main {
            .nav-link {
                font-size: 1.1rem;
                padding: 15px 32px;
            }

            .nav-link.active {
                color: #000000 !important;
                border-bottom: 2px solid rgb(0, 72, 155);
            }

            .dropdown-menu {
                li {
                    a {
                        text-decoration: none;
                        color: #000;
                    }
                }
            }
        }
    }

    .navbar-expand-md .navbar-collapse {
        justify-content: center !important;
    }

    .dropdown-menu {
        border-radius: 0px;
        background-color: #ededed;
        .dropdown-item {
            padding: 11px 15px;
            border-bottom: 1px solid #eaeaea;
            &:last-child{
                border-bottom: 0px;
            }
            .nav-link--deanfadev-faq {
                color: #000;
                text-decoration: none;
            }
        }
    }
    .dropdown-item.active, .dropdown-item:hover{
        
        text-decoration: none;
        background-color: #2d9aed;
        background-image: none;

        a{
            color: #fff !important;    
        }
        
    }

}

.homepage-slideshow {
    .field--type-entity-reference {
        margin: 0px !important;
    }

    .field--name-field-title {
        position: absolute;
        line-height: 300%;
        font-weight: 600;

        color: white;
        padding: 8px 18px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0);
        font-size: 3rem;
        background-image: linear-gradient(to top, #000000, #00000000);
        width: 100%;
        text-align: center;
        bottom: 0px;
    }
}

.about-us-homepage {
    padding: 100px 0px;

    .about-row {
        display: grid;
        grid-template-columns: 1fr 500px;
        grid-gap: 70px;
        align-items: center;

        .about-us-text {
            h2 {
                @include section-heading(var(--bs-primary), left, 3.2rem, 0px);


            }

            hr {
                margin-top: 0px;
                width: 100px;
                border-width: 3px;
                margin-bottom: 40px;
                border-color: #003863;
                opacity: 100;

            }
        }

        .about-us-image {
            img {
                max-width: 100%;
                height: auto;
            }
        }


    }

}

.default-learn-more {
    margin-top: 35px;
    float: left;

    a {
        @include deanfa-btn(#8f8f8f, none, #8f8f8f, 1.1rem);
        text-decoration: none;

        &:hover {
            background-color: var(--bs-blue);
            color: var(--bs-white);
        }
    }
}

.homepage-faculty-tabs {
    padding: 100px 0px;
    background-color: #f0f0f0;

    h2 {
        @include section-heading(var(--bs-primary), center, 3.2rem, 0px);

    }

    hr {
        margin-top: 0px;
        width: 100px;
        border-width: 3px;
        margin-bottom: 40px;
        border-color: #003863;
        opacity: 100;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        .card-img {
            border-radius: 0px !important;
        }

        .card-img-overlay {
            background-color: #003863;
            position: relative;
            border: 0px;
            text-align: center;
            color: #fff;
            border-radius: 0px;

            .field--name-field-designation {
                margin-bottom: 22px;
            }

            .fac-name {
                font-size: 1.2rem;
                font-weight: 500;
            }

            a {
                color: #fff;
                text-decoration: none;
                border: 1px solid #fff;
                padding: 5px 15px;
                border-radius: 4px;
            }
        }
    }

    .on-the-gray .quicktabs-tabpage {
        padding: 2em 2em 1em;
        background-color: var(--bs-white);
    }

    .view-footer {
        a {
            @include deanfa-btn(var(--bs-primary), none, var(--bs-primary), 1.2rem);
            font-weight: 500;
            border-radius: 4px;
            text-align: center;
            display: block;
            width: 100%;
            text-decoration: none;
            padding: 10px;
            border: 1px solid #003863;
            transition: all 1s;

            &:hover {
                background-color: var(--bs-primary);
                color: var(--bs-white);
            }
        }
    }

    .list-group-item.active {
        border-color: var(--bs-primary);
    }

    .on-the-gray .quicktabs-tabs>li>a:hover,
    .on-the-gray .quicktabs-tabs>li.active>a {
        background-color: var(--bs-primary);
        color: var(--bs-white);
    }

    .on-the-gray .quicktabs-tabs>li>a {
        background-color: var(--bs-white);
        font-size: 1.2rem;
    }

    .block-column>.grid,
    .item-list>.block-column>.grid {
        border-radius: 0px;
    }
}

.apply-iitp-section {
    padding: 100px 0px;
    background-attachment: fixed;
    font-size: 1.3rem;

    h2 {
        @include section-heading(var(--bs-white), center, 2.8rem, 30px);
        margin-top: 20px;
    }

    .btn-outline-black {
        border: 2px solid #fff;
        font-size: 1.2rem;
        margin-top: 50px;
        padding: 16px 50px;
        box-shadow: none;
        color: var(--bs-white);

        &:hover {
            background-color: var(--bs-white);
            color: var(--bs-primary);
        }
    }

    .block-layout-builder {
        background-color: #1961a9;
        padding: 40px;
    }
}

.homepage-news {
    padding: 100px 0px;

    h2 {
        @include section-heading(var(--bs-primary), center, 3.2rem, 0px);

    }

    hr {
        margin-top: 0px;
        width: 100px;
        border-width: 3px;
        margin-bottom: 40px;
        border-color: #003863;
        opacity: 100;
        margin-left: auto;
        margin-right: auto;
    }

    .card {
        .card-body {
            &:nth-child(1) {
                background-color: #00a4a2;
                color: #fff;
            }

            &:nth-child(2) {
                background-color: #f1f1f1;


            }

            a {
                border: 1px solid #000;
                color: #000;
                padding: 4px 15px;
                text-decoration: none;
                border-radius: 4px;
            }
        }
    }

    .view-footer {
        a {
            @include deanfa-btn(#00a4a2, none, #00a4a2, 1.2rem);
            font-weight: 500;
            border-radius: 4px;
            text-align: center;
            display: block;
            width: 100%;
            text-decoration: none;
            padding: 10px;
            border: 1px solid #00a4a2;
            transition: all 1s;

            &:hover {
                background-color: #00a4a2;
                color: var(--bs-white);
            }
        }
    }
}

.about-iitb-section {

    background-attachment: fixed;

    h2 {
        @include section-heading(var(--bs-primary), left, 3.2rem, 0px);
    }

    .col-12 {
        padding: 0px;
    }

    hr {
        margin-top: 0px;
        width: 190px;
        border-width: 3px;
        margin-bottom: 40px;
        border-color: #003863;
        opacity: 100;

    }

    .about-iitb-desc {
        background-color: rgba(235, 235, 235, 0.859);
        padding: 100px 220px;

        .btn-readmore {
            @include deanfa-btn(var(--bs-primary), none, var(--bs-primary), 1.2rem);
            font-weight: 500;
            border-radius: 4px;
            padding: 10px 25px;
            transition: all 1s;
            border: 1px solid;
            margin-top: 30px;
            float: left;
            text-decoration: none;

            &:hover {
                background-color: var(--bs-primary);
                color: var(--bs-white);
            }
        }
    }
}

.awards-ann-section {
    padding: 100px 0px;
    background-color: var(--bs-light);

    h2 {
        @include section-heading(var(--bs-primary), left, 3.2rem, 0px);
    }


    hr {
        margin-top: 0px;
        width: 190px;
        border-width: 3px;
        margin-bottom: 40px;
        border-color: #003863;
        opacity: 100;

    }

    .award-section {
        .view-content {
            .views-row {
                padding: 12px 0px;
                border-bottom: 1px solid #ccc;



                .field-content {
                    a {
                        text-decoration: none;
                        color: #000;

                        &::before {
                            content: "\f154";
                            position: relative;
                            font-family: bootstrap-icons !important;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

    }

    .announcement-single {
        .card {
            overflow: hidden;

            .card-body {
                a {
                    border: 1px solid #000;
                    color: #000;
                    padding: 4px 15px;
                    text-decoration: none;
                    border-radius: 4px;
                    transition: all 0.5s;

                    &:hover {
                        background-color: #000;
                        color: #fff;
                    }
                }
            }
        }
    }
}

.deanfa-mes-section {
    padding: 100px 0px;
    position: relative;
    background-attachment: fixed;

    &::before {
        content: '';
        background-color: rgba(0, 0, 0, 0.581);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        position: absolute;
        z-index: 10;
    }

    h2 {
        @include section-heading(var(--bs-primary), left, 3.2rem, 0px);
    }


    hr {
        margin-top: 0px;
        width: 190px;
        border-width: 3px;
        margin-bottom: 40px;
        border-color: #003863;
        opacity: 100;

    }

    .dean-fa-box {
        background-color: rgba(255, 255, 255, 0.786);
        padding: 50px;
        position: relative;
        z-index: 100;
    }
}

.faculty-work-section {
    padding: 100px 0px;
    position: relative;


    h2 {
        @include section-heading(var(--bs-primary), left, 3.2rem, 0px);
    }


    hr {
        margin-top: 0px;
        width: 190px;
        border-width: 3px;
        margin-bottom: 40px;
        border-color: #003863;
        opacity: 100;

    }

    .card {
        .card-body {
            a {
                border: 1px solid #000;
                color: #000;
                padding: 4px 15px;
                text-decoration: none;
                border-radius: 4px;
                -webkit-transition: all 0.5s;
                transition: all 0.5s;

                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }

    .card-img,
    .card-img-top {
        border-radius: 0px;
    }

    .view-footer {
        a {
            @include deanfa-btn(var(--bs-primary), none, var(--bs-primary), 1.2rem);
            font-weight: 500;
            border-radius: 4px;
            text-align: center;
            display: block;
            width: 100%;
            text-decoration: none;
            padding: 10px;
            border: 1px solid #003863;
            transition: all 1s;

            &:hover {
                background-color: var(--bs-primary);
                color: var(--bs-white);
            }
        }
    }
}

footer {
    .region-footer-second {
        .block {
            border: 0px !important;
        }

        .footer-site-name {
            margin-top: 20px;
            float: left;
            display: block;
            font-weight: 700;
        }

        .site-footer h2 {
            font-size: 1.2rem;
        }
    }

    .region-footer-third {

        nav,
        .block {
            border: 0px !important;
        }

        .row {
            display: grid;
            grid-template-columns: repeat(3, 1fr);

            .navbar-nav {
                padding: 0px 0px;

                li {
                    padding: 10px 0px;
                    display: block;

                    a {
                        color: rgb(246, 246, 246);
                        text-decoration: none;
                        padding: 0px;
                    }
                }
            }

            .menu--important-links {
                .nav {
                    padding: 0px;
                    margin: 0px;
                    list-style-type: none;

                    .nav-item {
                        padding: 10px 0px;
                        display: block;
                        width: 100%;

                        a {
                            color: rgb(246, 246, 246);
                            text-decoration: none;
                            padding: 0px;
                        }
                    }
                }
            }
        }

        .block-social-media-links {
            ul {
                padding: 0px;
                margin: 0px;
                list-style: none;

                li {
                    float: left;
                    padding: 0px 7px;

                    &:first-child {
                        padding-left: 0px;
                    }

                    &:last-child {
                        padding-right: 0px;
                    }

                }
            }
        }
    }

}



@media all and (max-width: 768px),
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px),
only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px),
only screen and (min-resolution: 192dpi) and (max-width: 1024px),
only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
    header {
        position: relative;
        background-color: #1b73c5;
        padding: 0px;

        .header-row {
            grid-template-columns: 1fr 71px;

        }
    }

    header .header-row .item-logo .region-top-header {
        grid-template-columns: 70px 1fr;
    }

    .about-us-homepage .about-row {
        grid-template-columns: 1fr;
    }

    .about-iitb-section .about-iitb-desc {
        padding: 12px;
        clip-path: none;
    }

    .awards-ann-section .award-section .view-content .views-row {
        padding: 12px 12px
    }

    .on-the-gray ul.quicktabs-tabs li {
        display: block;
    }

    header .header-row .item-logo .region-top-header .block-block-content h1 {
        font-size: 0.7rem;
    }

    .about-us-homepage,
    .homepage-faculty-tabs,
    .apply-iitp-section,
    .homepage-news,
    .about-iitb-section,
    .awards-ann-section,
    .deanfa-mes-section,
    .faculty-work-section {
        padding: 20px 0px;
    }

    .awards-ann-section {
        .ps-5 {
            padding-left: 13px !important;
        }
    }

    .deanfa-mes-section .dean-fa-box {
        padding: 15px;
    }

    header {
        .offcanvas {
            background-color: #015692;
        }

        .navbar-nav {
            margin-top: 40px;

            li {
                padding: 5px 0px;
            }
        }

        .offcanvas-header {
            position: absolute;
            right: 0px;
        }
    }

    .homepage-slideshow .field--name-field-title {
        font-size: 1rem;
    }

    footer .region-footer-third .row {
        grid-template-columns: 1fr;
    }


}