:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}


@mixin section-heading($color, $align, $size, $mb) {
    color: $color;
    font-size: $size;
    text-align: left;
    margin-bottom: $mb;
}



header {
    position: absolute;
    width: 100%;
    z-index: 100;
    padding: 10px 0px;
    background-image: linear-gradient(to bottom,#21212157,#00000000);
    .header-row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        .item-logo {
            .region-top-header {
                display: grid;
                grid-template-columns: 100px 1fr;

                .block-block-content {

                    h1 {
                        font-size: 1.7rem;
                        color: #fff;
                        font-weight: 500;

                        a {
                          
                          text-decoration: none;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .item-navigation {
            .bg-light {
                background-color: transparent !important;
                box-shadow: none;
                background-image: none;
                ul {
                    li {


                        a {
                            font-size: 1.2rem;
                            padding: 0px 23px;
                            color: #fff;
                            font-weight: 500;
                        }

                    }
                }
            }
        }
    }
}

.homepage-slideshow {
    .field--type-entity-reference {
        margin: 0px !important;
    }

    .field--name-field-title {
        position: absolute;
        line-height: 300%;
        font-weight: 600;
       
        color: white;
        padding: 8px 18px;
        border-radius: 4px;
        background-color: rgba(0,0,0,0);
        font-size:3rem;
        background-image: linear-gradient(to top,#000000,#00000000);
        width: 100%;
        text-align: center; 
        bottom: 0px;
    }
}

.about-us-homepage{
    .row{
        display: grid;
        grid-template-columns: 1fr 500px;
    grid-gap: 70px;
    align-items: center;

        div{
            &:nth-child(1){
                h2{
                   @include section-heading(var(--bs-primary),left,2.5rem,20px);
                   &::after{
                    content: '';
                    height: 2px;
                    background-color: #0d6efd;
                    width: 100px;                    
                   }
                }
            }
            &:nth-child(1){
               img{
                max-width: 100%;
                height: auto;  
               }
            }
        }
    }
}