:root {
  --bs-blue: #072e4c !important;
  --bs-indigo: #6610f2 !important;
  --bs-purple: #6f42c1 !important;
  --bs-pink: #d63384 !important;
  --bs-red: #dc3545 !important;
  --bs-orange: #fd7e14 !important;
  --bs-yellow: #ffc107 !important;
  --bs-green: #198754 !important;
  --bs-teal: #20c997 !important;
  --bs-cyan: #0dcaf0 !important;
  --bs-white: #fff !important;
  --bs-gray: #6c757d !important;
  --bs-gray-dark: #343a40 !important;
  --bs-primary: #072e4c !important;
  --bs-secondary: #6c757d !important;
  --bs-success: #198754 !important;
  --bs-info: #0dcaf0 !important;
  --bs-warning: #ffc107 !important;
  --bs-danger: #dc3545 !important;
  --bs-light: #f8f9fa !important;
  --bs-dark: #212529 !important;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

@font-face {
  font-family: 'Poppins-Light';
  src: url(../fonts/Poppins-Light.ttf);
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url(../fonts/Poppins-Medium.ttf);
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url(../fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url(../fonts/Poppins-SemiBold.ttf);
}

body,
p,
a,
li {
  font-family: 'Poppins-Regular' !important;
}

p {
  text-align: justify;
}

.deanfa-primary-color {
  color: var(--bs-primary);
}

body {
  font-size: 1.1rem;
  padding: 0px !important;
}

header {
  background-color: #005494;
}

header h1 {
  font-size: 1.5rem;
  color: black;
  font-weight: 500;
  margin: 0px;
}

header h1 a {
  text-decoration: none;
  color: black;
}

header .region-top-header {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .region-top-header .navbar-brand {
  width: 65px;
  padding: 0px;
}

header .navbar-expand-md {
  background-color: #ececec !important;
  padding: 0px;
}

header .navbar-expand-md .navbar-brand img {
  height: 70px;
}

header .navbar-expand-md .menu--main .nav-link {
  font-size: 1.1rem;
  padding: 15px 30px;
  font-family: 'Poppins-Medium' !important;
}

header .navbar-expand-md .menu--main .nav-link.active {
  color: #00489b !important;
  border-bottom: 2px solid #00489b;
}

header .navbar-expand-md .menu--main .dropdown-menu li a {
  text-decoration: none;
  color: #000;
}

header .navbar-expand-md .navbar-collapse {
  -webkit-box-pack: center !important;
      -ms-flex-pack: center !important;
          justify-content: center !important;
}

header .dropdown-menu {
  border-radius: 0px;
  background-color: #ededed;
}

header .dropdown-menu .dropdown-item {
  padding: 11px 15px;
  border-bottom: 1px solid #d0d0d0;
}

header .dropdown-menu .dropdown-item:last-child {
  border-bottom: 0px;
}

header .dropdown-menu .dropdown-item .nav-link--deanfadev-faq {
  color: #000;
  text-decoration: none;
}

header .dropdown-item.active,
header .dropdown-item:hover {
  text-decoration: none;
  background-color: #2d9aed;
  background-image: none;
}

header .dropdown-item.active a,
header .dropdown-item:hover a {
  color: #fff !important;
}

.homepage-slideshow .field--type-entity-reference {
  margin: 0px !important;
}

.homepage-slideshow .field--name-field-title {
  position: absolute;
  line-height: 300%;
  font-weight: 600;
  color: white;
  padding: 8px 18px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0);
  font-size: 3rem;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#000000), to(#00000000));
  background-image: linear-gradient(to top, #000000, #00000000);
  width: 100%;
  text-align: center;
  bottom: 0px;
}

.about-us-homepage {
  padding: 100px 0px;
}

.about-us-homepage .about-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 500px;
      grid-template-columns: 1fr 500px;
  grid-gap: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us-homepage .about-row .about-us-text h2 {
  color: var(--bs-primary);
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 0px;
  font-family: 'Poppins-SemiBold';
}

.about-us-homepage .about-row .about-us-text hr {
  margin-top: 0px;
  width: 100px;
  border-width: 3px;
  margin-bottom: 40px;
  border-color: #003863;
  opacity: 100;
}

.about-us-homepage .about-row .about-us-image img {
  max-width: 100%;
  height: auto;
}

.default-learn-more {
  margin-top: 35px;
  float: left;
}

.default-learn-more a {
  background-color: none;
  color: #8f8f8f;
  border-color: #8f8f8f;
  font-size: 1.1rem;
  border-radius: 4px;
  border: 2px solid;
  padding: 10px 30px;
  text-decoration: none;
}

.default-learn-more a:hover {
  background-color: var(--bs-blue);
  color: var(--bs-white);
}

.homepage-faculty-tabs {
  padding: 100px 0px;
  background-color: #f0f0f0;
}

.homepage-faculty-tabs h2 {
  color: var(--bs-primary);
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Poppins-SemiBold';
}

.homepage-faculty-tabs hr {
  margin-top: 0px;
  width: 100px;
  border-width: 3px;
  margin-bottom: 40px;
  border-color: #003863;
  opacity: 100;
  margin-left: auto;
  margin-right: auto;
}

.homepage-faculty-tabs .card .card-img {
  border-radius: 0px !important;
}

.homepage-faculty-tabs .card .card-img-overlay {
  background-color: #003863;
  position: relative;
  border: 0px;
  text-align: center;
  color: #fff;
  border-radius: 0px;
}

.homepage-faculty-tabs .card .card-img-overlay .field--name-field-designation {
  margin-bottom: 22px;
}

.homepage-faculty-tabs .card .card-img-overlay .fac-name {
  font-size: 1.2rem;
  font-weight: 500;
}

.homepage-faculty-tabs .card .card-img-overlay a {
  color: #fff;
  text-decoration: none;
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 4px;
}

.homepage-faculty-tabs .on-the-gray .quicktabs-tabpage {
  padding: 2em 2em 1em;
  background-color: var(--bs-white);
}

.homepage-faculty-tabs .view-footer a {
  background-color: none;
  color: var(--bs-primary);
  border-color: var(--bs-primary);
  font-size: 1.2rem;
  border-radius: 4px;
  border: 2px solid;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #003863;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.homepage-faculty-tabs .view-footer a:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.homepage-faculty-tabs .list-group-item.active {
  border-color: var(--bs-primary);
}

.homepage-faculty-tabs .on-the-gray .quicktabs-tabs > li > a:hover,
.homepage-faculty-tabs .on-the-gray .quicktabs-tabs > li.active > a {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.homepage-faculty-tabs .on-the-gray .quicktabs-tabs > li > a {
  background-color: var(--bs-white);
  font-size: 1.2rem;
}

.homepage-faculty-tabs .block-column > .grid,
.homepage-faculty-tabs .item-list > .block-column > .grid {
  border-radius: 0px;
}

.apply-iitp-section {
  padding: 100px 0px;
  background-attachment: fixed;
  font-size: 1.3rem;
}

.apply-iitp-section h2 {
  color: var(--bs-white);
  font-size: 2.8rem;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Poppins-SemiBold';
  margin-top: 20px;
}

.apply-iitp-section .btn-outline-black {
  border: 2px solid #fff;
  font-size: 1.2rem;
  margin-top: 50px;
  padding: 16px 50px;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: var(--bs-white);
}

.apply-iitp-section .btn-outline-black:hover {
  background-color: var(--bs-white);
  color: var(--bs-primary);
}

.apply-iitp-section .block-layout-builder {
  background-color: #1961a9;
  padding: 40px;
}

.homepage-news {
  padding: 100px 0px;
}

.homepage-news h2 {
  color: var(--bs-primary);
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 0px;
  font-family: 'Poppins-SemiBold';
}

.homepage-news hr {
  margin-top: 0px;
  width: 100px;
  border-width: 3px;
  margin-bottom: 40px;
  border-color: #003863;
  opacity: 100;
  margin-left: auto;
  margin-right: auto;
}

.homepage-news .card .card-body h4 {
  font-family: 'Poppins-Medium';
  font-weight: normal;
}

.homepage-news .card .card-body:nth-child(1) {
  background-color: #00a4a2;
  color: #fff;
}

.homepage-news .card .card-body:nth-child(2) {
  background-color: #f1f1f1;
}

.homepage-news .card .card-body a {
  border: 1px solid #000;
  color: #000;
  padding: 4px 15px;
  text-decoration: none;
  border-radius: 4px;
}

.homepage-news .view-footer a {
  background-color: none;
  color: #00a4a2;
  border-color: #00a4a2;
  font-size: 1.2rem;
  border-radius: 4px;
  border: 2px solid;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #00a4a2;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.homepage-news .view-footer a:hover {
  background-color: #00a4a2;
  color: var(--bs-white);
}

.about-iitb-section {
  background-attachment: fixed;
}

.about-iitb-section h2 {
  color: var(--bs-primary);
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 0px;
  font-family: 'Poppins-SemiBold';
}

.about-iitb-section .col-12 {
  padding: 0px;
}

.about-iitb-section hr {
  margin-top: 0px;
  width: 190px;
  border-width: 3px;
  margin-bottom: 40px;
  border-color: #003863;
  opacity: 100;
}

.about-iitb-section .about-iitb-desc {
  background-color: rgba(235, 235, 235, 0.859);
  padding: 100px 220px;
}

.about-iitb-section .about-iitb-desc .btn-readmore {
  background-color: none;
  color: var(--bs-primary);
  border-color: var(--bs-primary);
  font-size: 1.2rem;
  border-radius: 4px;
  border: 2px solid;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 4px;
  padding: 10px 25px;
  -webkit-transition: all 1s;
  transition: all 1s;
  border: 1px solid;
  margin-top: 30px;
  float: left;
  text-decoration: none;
}

.about-iitb-section .about-iitb-desc .btn-readmore:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.awards-ann-section {
  padding: 100px 0px;
  background-color: var(--bs-light);
}

.awards-ann-section h2 {
  color: var(--bs-primary);
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 0px;
  font-family: 'Poppins-SemiBold';
}

.awards-ann-section hr {
  margin-top: 0px;
  width: 190px;
  border-width: 3px;
  margin-bottom: 40px;
  border-color: #003863;
  opacity: 100;
}

.awards-ann-section .award-section .view-content .views-row {
  padding: 12px 0px;
  border-bottom: 1px solid #ccc;
}

.awards-ann-section .award-section .view-content .views-row .group-right h2 {
  font-family: 'Poppins-Medium' !important;
  font-weight: normal;
}

.awards-ann-section .award-section .view-content .views-row .field-content a {
  text-decoration: none;
  color: #000;
}

.awards-ann-section .award-section .view-content .views-row .field-content a::before {
  content: "\f154";
  position: relative;
  font-family: bootstrap-icons !important;
  margin-right: 5px;
}

.awards-ann-section .announcement-single .card {
  overflow: hidden;
}

.awards-ann-section .announcement-single .card .card-body h4 {
  font-family: 'Poppins-Medium';
  font-weight: normal;
}

.awards-ann-section .announcement-single .card .card-body a {
  border: 1px solid #000;
  color: #000;
  padding: 4px 15px;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.awards-ann-section .announcement-single .card .card-body a:hover {
  background-color: #000;
  color: #fff;
}

.deanfa-mes-section {
  padding: 100px 0px;
  position: relative;
  background-attachment: fixed;
}

.deanfa-mes-section::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.581);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 10;
}

.deanfa-mes-section h2 {
  color: var(--bs-primary);
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 0px;
  font-family: 'Poppins-SemiBold';
}

.deanfa-mes-section hr {
  margin-top: 0px;
  width: 190px;
  border-width: 3px;
  margin-bottom: 40px;
  border-color: #003863;
  opacity: 100;
}

.deanfa-mes-section .dean-fa-box {
  background-color: rgba(255, 255, 255, 0.786);
  padding: 50px;
  position: relative;
  z-index: 100;
}

.faculty-work-section {
  padding: 100px 0px;
  position: relative;
}

.faculty-work-section h2 {
  color: var(--bs-primary);
  font-size: 3.2rem;
  text-align: left;
  margin-bottom: 0px;
  font-family: 'Poppins-SemiBold';
}

.faculty-work-section hr {
  margin-top: 0px;
  width: 190px;
  border-width: 3px;
  margin-bottom: 40px;
  border-color: #003863;
  opacity: 100;
}

.faculty-work-section .card .card-body a {
  border: 1px solid #000;
  color: #000;
  padding: 4px 15px;
  text-decoration: none;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faculty-work-section .card .card-body a:hover {
  background-color: #000;
  color: #fff;
}

.faculty-work-section .card-img,
.faculty-work-section .card-img-top {
  border-radius: 0px;
}

.faculty-work-section .view-footer a {
  background-color: none;
  color: var(--bs-primary);
  border-color: var(--bs-primary);
  font-size: 1.2rem;
  border-radius: 4px;
  border: 2px solid;
  padding: 10px 30px;
  font-weight: 500;
  border-radius: 4px;
  text-align: center;
  display: block;
  width: 100%;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #003863;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.faculty-work-section .view-footer a:hover {
  background-color: var(--bs-primary);
  color: var(--bs-white);
}

.site-footer__top .content li a {
  text-indent: 0;
}

.site-footer .block {
  border: 0;
  width: 100%;
  border: 1px solid #444;
  border-color: rgba(255, 255, 255, 0.1);
}

.site-footer {
  margin-top: 5rem;
}

.default-listing-view .views-row {
  margin: 20px 0px;
}

.default-listing-view .views-row .ds-2col-fluid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 302px 1fr;
      grid-template-columns: 302px 1fr;
  grid-gap: 40px;
  border: 1px solid #ccc;
  padding: 20px;
  row-gap: 0px;
}

.default-listing-view .views-row .ds-2col-fluid .group-left {
  width: 100%;
  float: none;
}

.default-listing-view .views-row .ds-2col-fluid .group-right {
  width: 100%;
  float: none;
  position: relative;
}

.default-listing-view .views-row .ds-2col-fluid .group-right h2 {
  font-family: 'Poppins-Medium' !important;
  font-weight: normal;
}

.default-listing-view .views-row .ds-2col-fluid .group-right h2 a {
  color: var(--bs-primary);
  text-decoration: none;
  font-family: 'Poppins-Medium' !important;
  font-weight: normal;
}

.default-listing-view .views-row .ds-2col-fluid .group-right h6 {
  margin-bottom: 20px;
  font-family: 'Poppins-SemiBold';
}

.default-listing-view .views-row .ds-2col-fluid .group-right .default-learn-more {
  border: 2px solid var(--bs-primary);
  text-decoration: none;
  color: var(--bs-primary);
  padding: 5px 20px;
  position: relative;
  z-index: 100;
  border-radius: 3px;
  overflow: hidden;
  position: absolute;
  bottom: 0px;
}

.default-listing-view .views-row .ds-2col-fluid .group-right .default-learn-more::before {
  content: '';
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: var(--bs-primary);
  width: 0px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: -1;
}

.default-listing-view .views-row .ds-2col-fluid .group-right .default-learn-more:hover {
  color: var(--bs-white);
}

.default-listing-view .views-row .ds-2col-fluid .group-right .default-learn-more:hover::before {
  width: 100%;
}

.default-listing-view .views-row:first-child {
  margin-top: 0px;
}

.default-listing-view .views-row:last-child {
  margin-bottom: 0px;
}

.default-sidebar-menu {
  border: 1px solid var(--bs-primary);
  padding: 10px;
}

.default-sidebar-menu h2 {
  font-family: 'Poppins-Medium';
  font-weight: normal;
  font-size: 1.6rem;
}

.default-sidebar-menu .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.default-sidebar-menu .nav .nav-item {
  border-bottom: 1px solid #ccc;
  position: relative;
  padding: 10px;
}

.default-sidebar-menu .nav .nav-item a {
  color: #2b2b2b;
  -webkit-transition: all 0.5ms;
  transition: all 0.5ms;
  font-family: 'Poppins-Medium';
}

.default-sidebar-menu .nav .nav-item a.is-active {
  color: #DD4625;
}

.default-sidebar-menu .nav .nav-item:last-child {
  border-bottom: 0px;
}

.default-sidebar-menu .nav .nav-item::after {
  content: "\f285";
  font-family: bootstrap-icons !important;
  position: absolute;
  right: 10px;
  top: 0px;
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.default-sidebar-menu .nav .nav-item:hover a {
  color: #DD4625;
}

.default-sidebar-menu .nav .nav-item:hover::after {
  right: 6px;
}

.block-field-blocknodepagetitle {
  font-family: 'Poppins-Medium' !important;
  border-bottom: 1px solid #c8c8c8 !important;
  -webkit-box-shadow: none;
          box-shadow: none;
  padding-bottom: 10px;
}

.breadcrumb .breadcrumb-item a {
  color: var(--bs-primary);
  text-decoration: none;
}

.breadcrumb .breadcrumb-item:hover a {
  border-bottom: 1px solid #DD4625;
}

.breadcrumb .breadcrumb-item.active a {
  color: #DD4625;
}

.search-form-faculty .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 195px;
      grid-template-columns: 1fr 195px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-right: 36px;
}

.search-form-faculty .row .form-control {
  border: 1px solid #000000 !important;
  padding: 11px 15px;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.search-form-faculty .row .btn-primary {
  background-color: var(--bs-primary);
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid var(--bs-primary);
  padding: 10px;
  background-image: none;
}

.search-form-faculty .row .btn-primary:hover {
  color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  background-color: var(--bs-white);
}

.block-views-exposed-filter-blocksearch-page-1 .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 195px;
      grid-template-columns: 1fr 195px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  padding-right: 0;
}

.block-views-exposed-filter-blocksearch-page-1 .row .form-control {
  border: 1px solid #000000 !important;
  padding: 11px 15px;
  border-radius: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.block-views-exposed-filter-blocksearch-page-1 .row .btn-primary {
  background-color: var(--bs-primary);
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 2px solid var(--bs-primary);
  padding: 10px;
  background-image: none;
}

.block-views-exposed-filter-blocksearch-page-1 .row .btn-primary:hover {
  color: var(--bs-primary);
  border: 2px solid var(--bs-primary);
  background-color: var(--bs-white);
}

.forms-listing-view .views-row {
  border: 1px solid #ccc;
  padding: 20px;
  margin: 20px 0px;
}

.forms-listing-view .views-row h2 {
  font-family: 'Poppins-Medium';
  font-weight: normal;
}

.forms-listing-view .views-row .form-files > div {
  padding: 10px 0px;
}

.forms-listing-view .views-row .form-files > div .file--mime-application-pdf {
  border: 1px solid #000;
  border-radius: 50px;
  padding: 0px 20px;
  background-position: 6px;
}

.forms-listing-view .views-row .form-files > div .file--mime-application-pdf a {
  text-decoration: none;
  padding: 8px;
  color: #000;
}

.admin-process-listing .view-content > .views-row {
  margin: 40px 0px;
}

.admin-process-listing .view-content > .views-row:first-child {
  margin-top: 0px;
}

.admin-process-listing .view-content > .views-row:last-child {
  margin-bottom: 0px;
}

.admin-process-listing .view-content > .views-row h3 {
  font-family: 'Poppins-Medium';
}

.admin-process-listing .ui-accordion-header {
  margin: 10px 0 0 0;
  padding: .6em .5em .6em .7em;
  font-family: 'Poppins-Light';
  font-size: 1.4rem;
}

.admin-process-listing .ui-state-default,
.admin-process-listing .ui-widget-content .ui-state-default,
.admin-process-listing .ui-widget-header .ui-state-default,
.admin-process-listing .ui-button,
.admin-process-listing html .ui-button.ui-state-disabled:hover,
.admin-process-listing html .ui-button.ui-state-disabled:active {
  border: 1px solid #c5c5c5;
  font-weight: normal;
  color: #454545;
}

.admin-process-listing .ui-icon-plusthick {
  margin-right: 10px;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  border: 1px solid black;
}

.admin-process-listing .ui-icon {
  margin-top: -0.1em;
}

.admin-process-listing .ui-state-active {
  background: #3673b4;
  color: #fff !important;
}

.admin-process-listing .ui-icon-minusthick {
  margin-right: 10px;
  width: 19px;
  height: 19px;
  border-radius: 50px;
  border: 1px solid white;
}

@media all and (max-width: 768px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  header {
    position: relative;
    background-color: #1b73c5;
    padding: 0px;
  }
  header .header-row {
    -ms-grid-columns: 1fr 71px;
        grid-template-columns: 1fr 71px;
  }
  header .header-row .item-logo .region-top-header {
    -ms-grid-columns: 70px 1fr;
        grid-template-columns: 70px 1fr;
  }
  .about-us-homepage .about-row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .about-iitb-section .about-iitb-desc {
    padding: 12px;
    -webkit-clip-path: none;
            clip-path: none;
  }
  .awards-ann-section .award-section .view-content .views-row {
    padding: 12px 12px;
  }
  .on-the-gray ul.quicktabs-tabs li {
    display: block;
  }
  header .header-row .item-logo .region-top-header .block-block-content h1 {
    font-size: 0.7rem;
  }
  .about-us-homepage,
  .homepage-faculty-tabs,
  .apply-iitp-section,
  .homepage-news,
  .about-iitb-section,
  .awards-ann-section,
  .deanfa-mes-section,
  .faculty-work-section {
    padding: 20px 0px;
  }
  .awards-ann-section .ps-5 {
    padding-left: 13px !important;
  }
  .deanfa-mes-section .dean-fa-box {
    padding: 15px;
  }
  header .offcanvas {
    background-color: #015692;
  }
  header .navbar-nav {
    margin-top: 40px;
  }
  header .navbar-nav li {
    padding: 5px 0px;
  }
  header .offcanvas-header {
    position: absolute;
    right: 0px;
  }
  .homepage-slideshow .field--name-field-title {
    font-size: 1rem;
  }
  footer .region-footer-third .row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=style.css.map */